ul {
  display: flex;
  align-items: center;
}

.previous {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.next {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.previous:hover,
.next:hover {
  background-color: #ddd;
  color: black;
}

.round {
  border-radius: 50%;
}

.nav2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.degradadofooter {
  background: rgb(231, 114, 150);
  background: linear-gradient(
    0deg,
    rgba(231, 114, 150, 1) 9%,
    rgba(250, 227, 234, 1) 90%
  );
}
.degradadotop {
  background: rgb(250, 227, 234);
  background: linear-gradient(
    0deg,
    rgba(250, 227, 234, 0.3785889355742297) 0%,
    rgba(231, 114, 150, 1) 90%
  );
}
.degradafondo {
  background: rgb(216, 5, 100);
  background: linear-gradient(
    0deg,
    rgba(216, 5, 100, 1) 0%,
    rgba(255, 236, 215, 0.73) 75%
  );
}
.colorslider {
  background-color: #e77296;
  color: white;
}
body {
  background-color: #fae3ea;
}

.contenido {
  display: flex;
  align-items: flex-start;
}
li {
  padding: 0px;
}
.list-group {
  --bs-list-group-item-padding-y: 0rem;
}

.precioboton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.cajafotos{
  width: 16rem;
  height: 10rem;
  object-fit: cover;
}

.cajafotosp{
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.colorbordetabla{
  border-style: solid;
  border-color: black;
}

.titulotabla{
  background-color: rgb(218, 165, 165);
}